<!DOCTYPE html>
<header>
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styling.css?u={{ last_updated }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</header>
<style>
    th, td {
        padding: 0 15px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('#search-btn').click(function(){
            get_user()
        })
        $('#search-user').keypress(function (e){
            if(e.which == 13){
                $('#search-btn').click()
                return false
            }
        })
        $('#create-user-form').submit(function(e){
            e.preventDefault()

            form_values = $(this).serializeArray()
            if(!form_values[0].value || !form_values[1].value)
                return
            user_obj = {
                username: form_values[0].value,
                email: form_values[1].value
            }
            add_user(user_obj)
            
            $(':input', '#create-user-form')
                .not(':button, :submit, :reset, :hidden')
                .val('')
            $("#myModal").modal('toggle')

            if(parseInt($("#user-table tr:last button").attr('id')))
                new_entry_id_val = parseInt($("#user-table tr:last button").attr('id')) + 1
            else
                new_entry_id_val = 1

            new_entry_id = $("<td></td>").text(new_entry_id_val)
            new_entry_username = $("<td></td>").text(user_obj['username'])
            new_entry_email = $("<td></td>").text(user_obj['email'])
            new_entry_delete_btn = $('<td></td>').append($('<button></button>')
                .text("Delete")
                .addClass('btn btn-danger delete-user-btn')
                .attr('id', new_entry_id_val)
                .css({'height': '30px', 'width': '70px'}))
            $("#user-table").find('tbody').append($('<tr>').append(new_entry_id, new_entry_username, new_entry_email, new_entry_delete_btn))
        })
        $(".delete-user-btn").click(function(e){
            delete_user(e.target.id)
            e.target.parentElement.parentElement.remove()
        })
        $('#delete-all-btn').click(function(e){
            delete_all_users()
            $('#user-table tbody').children().filter(':not(#user-table tr:first)').remove()
        })
    })

    const get_user = () => {
        fetch('/users')
        .then(response => response.json())
        .then(data => {
            let users = data
            searched_user = users.filter((user) => user.username === document.getElementById('search-user').value ||
                user.id == document.getElementById('search-user').value)
            if(searched_user === undefined || searched_user.length == 0)
                return
            $("#found-user").text("Searched: " + searched_user[0].username)
            $("#found-user-username").text("Username: " + searched_user[0].username)
            $("#found-user-email").text("Email: " + searched_user[0].email)
        })
        .catch(error => console.log(error))
    }

    const add_user = (user_data) => {
        fetch('/users', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(user_data)
        })
        .then(response => response.json())
        .then(data => {
            let user = data
            console.log(user)
        })
        .catch(error => console.log(error))
    }

    const delete_user = (user_id) => {
        fetch('/user/' + user_id, {
            method: 'DELETE'
        })
        .then(response => response.text())
        .then(response => console.log(response))
        .catch(error => console.log(error))
    }

    const delete_all_users = () => {
        fetch('/users', {
            method: 'DELETE'
        })
        .then(response => response.text())
        .then(response => console.log(response))
        .catch(error => console.log(error))
    }
</script>
<body>
    <h1>Users List</h1>
    <a href="/">Dashboard</a><br /><br />
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Create User
    </button>
    <button type="button" id="delete-all-btn" class="btn btn-danger">Delete All Users</button>
  
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Register</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="create-user-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" value="" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" value="" class="form-control" id="email" placeholder="Email">
                        </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Submit" class="btn btn-success" id="submit-user-btn">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    <br/><br /><button type="button" class="btn btn-dark" id="search-btn">Search user</button>
    <input type="text" placeholder="Search by ID or name..." id="search-user">
    <p id="found-user" style="margin-bottom: 0px">Searched: [None]</p>
    <span id="found-user-username"></span>
    <span id="found-user-email"></span>
    <br />
    <table id="user-table">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td><button type="button" id={{user.id}} class="btn btn-danger delete-user-btn" data-dismiss="modal" style="height: 30px; width: 70px;">Delete</button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>